@import "tailwindcss";

@font-face {
  font-family: "Satoshi";
  src: url(/fonts/Satoshi/Satoshi-Regular.otf) format("opentype");
  font-display: swap;
}
@font-face {
  font-family: "Satoshi";
  src: url(/fonts/Satoshi/Satoshi-Bold.otf) format("opentype");
  font-display: swap;
}

@font-face {
  font-family: "Integral-CF";
  src: url(/fonts/Integral-CF/Fontspring-DEMO-integralcf-regular.otf)
    format("opentype");
  font-display: swap;
}

@theme {
  --font-body: "Satoshi", sans-serif;
  --font-heading: "Integral-CF", sans-serif;

  --container-width: 1240px;

  --color-surface: #f2f0f1;
  --color-text: #000;
  --color-bg: #fff;
  --color-border: #0000001a;
}

html {
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scrollbar-width: none;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Satoshi", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
